<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
</head>
<body>
    <form action="/user/<%= user.id %>" method="POST">
        <input type="text" value="<%= user.name %>" name="name"/>
        <input type="email" value="<%= user.email %>" name="email"/>
        <input type="number" value="<%= user.age %>" name="age"/>
        <button type="submit">Update</button>
    </form>
</body>
</html>