<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of all users</title>
</head>
<body>
    <h1>Users List</h1>
        <% users.forEach(user => { %>
            <a href="/user/<%= user.email %>"><h4><%= user.email %></h4></a>
            <h4><%= user.sports %></h4>
            <h4><%= user.age %></h4>
        <% }) %>
    <a href="/user/new">Create User</a>
</body>
</html>